* {
  box-sizing:border-box;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  color:#888;
  background-color: #eee;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

section {
  background-color:#eee;
  width:500px;
  margin:0 auto;
  margin-top: 30px;
  box-shadow: #ddd 4px 4px 4px;
  border-radius: 5px;
}

section #connection-bar {
  display: inline;
}

.connection-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.connection-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.connection-btn:active {
	position:relative;
	top:1px;
}

section #chat-header {
  background: #4863a0;
  color: #fff;
  padding: 10px;
}

section #chat-header #status-msg {
  line-height: 30px;
}

section #chat-header #status-msg::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #26ea26;
  display: inline-block;
  margin-right: 10px;
}

section #chat-header #status-msg.connected::before {
  background: #26ea26;
}

section #chat-header #status-msg.disconnected {
  display: none;
}

section #chat-header #status-msg.disconnected::before {
  background: #ff0404;
}

section #chat-header #status-msg.connecting::before {
  background: #fff;
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-19 8:0:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
 @-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}


section input {
  display:block;  
  width: 100%;
  margin:0 auto;
  outline:none;
  background-color:#fff;
  border:none;
  border-top:1px solid #ddd;
  padding:15px 10px;
  font-size:15px;
  color: #888;
}

section input::placeholder {
  color: #ddd;
}

#messages {
  background-color:#fff;
  padding:10px;
  height:100%;
  overflow-y:auto;
  height: 400px;
  position: relative;
}

#messages p {
  margin:5px 0;
  padding:0;
}

#messages #typing-indicator {
  position: absolute;
  bottom: 5px;
  color: #aaa;
  font-size: 0.9em;
  display: none;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  text-align: left;
}

.message-container .message {
  text-align: left;
  max-width: 400px;
  background: #f5f5f5;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
}

.message-container.me {
  text-align: right;
}

.message-container.me .message {
  background: #e5f0ff;
}
